.container.education__container {
    width: 50%;
    padding-bottom: 4rem;
    margin: 0 auto;
}

.education {
    /* background: var(--color-bg-variant); */
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
    user-select: none;
}

.education__title {
    margin-top: 6rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.education__item {
    margin-bottom: 2rem;
    background: var(--color-bg-variant);
    /* background: var(--color-bg); */
    padding: 1.5rem;
    border: 1px solid var(--color-primary-variant);
    border-radius: 1.5rem;
    transition: box-shadow 0.3s ease;
}

.education__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.education__degree {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
}

.education__institution {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
    margin: 0.5rem 0;
}

.education__duration {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--color-light);
}

.education__description {
    font-size: 0.95rem;
    color: var(--color-light);
    margin-top: 0.8rem;
    line-height: 1.5;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .container.education__container {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .container.education__container {
        width: var(--container-width-sm);
    }

    .education__description {
        font-size: 0.9rem;
    }
}
